<!DOCTYPE html>
<html>
<head>
  <title>Ingreso de Usuario</title>
</head>
<body>
  <h1>Ingreso de Usuario</h1>
  <form action="/saveuser" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>
    <input type="submit" value="Guardar">
  </form>
</body>
</html>
